* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */

}

html,
body {
    height: 100%;
    width: 100%;
    font-family: lexend;
}



.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1.4rem 3.4rem;
    border-bottom: 1.5px solid grey;
    background-color: white;

}

.hero h2 {
    font-size: 2.2rem;
    font-weight: 700;
}


.hero-nav {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.hero-nav h3 {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 8px 12px;
    border: 2px solid transparent;
    border-radius: 35px;
    transition: 0.4s ease;
}

.hero-nav i {
    font-size: 2.2rem;
    font-weight: 300;
    transition: 0.4s ease;
    padding: 8px 10px;
    border: 2px solid transparent;
    border-radius: 35px;
    display: none;
}

.content {
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    padding: 0 1.4rem;
}

.left {
    height: 50%;
    width: 50%;
    background-color: palegoldenrod;
    padding: 7.4rem 3.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;


}

.para-typo {
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgb(82 78 78);
}



.span-left {
    color: plum;
}

.right {
    height: 50%;
    width: 50%;
    background-color: thistle;
    padding: 7.4rem 3.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.span-right {
    color: khaki;
}

.text-shadow {
    text-shadow: -1px 1px 2px black;
}

.btn {
    padding: 0.6rem 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 30px;
    max-width: 400px;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: lightgrey;

    transform: scale(1.070);
}

.hero-nav h3:hover {
    background-color: lightgray;
    border: 2px solid grey;
}

.hero-nav i:hover {
    background-color: lightgray;
    border: 2px solid grey;
}
@media (max-width:999px) {
    .right h1,
    .left h1{
        font-size: 3vmax;

    }
}
@media (max-width: 745px) {
    .hero {
        padding: 1.2rem 0.8rem;
    }



    .hero h2 {
        font-size: 1.8rem;

    }

    .hero-nav h3 {
        display: none;

    }

    .hero-nav i {
        display: block;
        font-size: 1.8rem;
    }

    .content {
        max-width: 1300px;
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        text-align: left;
        flex-direction: column;
        gap: 2rem;
        /* padding: 0.6rem; */
    }

    .right,
    .left {
        padding: 5rem 2rem;
    }



}