* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: lexend;
}

.card {
    width: 950px;
    height: 500px;
    /* border: 3px dotted blue; */
    margin: 40px auto;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
    border-radius: 10px;
    gap: 40px;
    border-bottom: 7px solid #000;

}


.text {
    width: 450px;
    /* border: 2px dotted blue; */
    text-align: left;
    color: #e6f0ff;
    border-radius: 20px;
}

.text h2 {
    font-size: 40px;
}

.text p {
    font-size: 20px;
}

.text h3 {
    font-size: 30px;
}
