* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: lexend;
}

#heading {
    height: 45%;
    width: 100%;
    /* background-color: silver; */
}

#heading h1 {
    font-size: 145px;
    font-weight: 500;
    padding: 50px;
    line-height: 130px;
    letter-spacing: -9px;

}


#place {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#place h3 {
    font-size: 34px;
    font-weight: 400;
    padding-right: 45px;
}

#place h5 {
    font-size: 34px;
    font-weight: 400;
    padding-left: 50px;
}

#img {
    height: 187%;
    width: 100%;
    background-color:red;
}