* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: lexend;
}

h1 {
    background-color: black;
    color: aqua;
    font-size: 80px;
}

h2 {
    background-color: aqua;
    color: black;
    font-size: 60px;
}