* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000C0;

}


#hero-container {}


.hero {

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;

}

.heading {
    font-size: 1.3vmax;
    margin: 1.4rem 1rem;
}

.icons {
    font-size: 1.5vmax;
    margin: 1.4rem 1rem;
}

.icons i {
    margin: 0 1.3rem;
}

.input-search {
    padding: 0.8rem 0.8rem;

    margin: 0 1.2rem;

}

.input-search input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 0.75rem 1rem;
    background-color: #4F5050;
    color: hsl(123.04 64.75% 47.84%);
    font-family: inherit;
    font-size: .85rem;
    text-align: center;
}

.input-search input::placeholder {
    color: #9BA1A5;
    font-weight: 600;
}


.navbar {
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3vmax;
    margin: 1rem 2rem;
    flex-wrap:wrap;
    color: #4F5050;
}

.navbar h3 {
    border: 1.5px solid black;
    padding: 8px 13px;
    border-radius: 3.8rem;
    background-color: #4F5050;
    color: aliceblue;
    font-size: 1rem;
    transition: 0.3s ease;
}

.navbar h3:hover {
    background-color: forestgreen;
    ;
}

.chat-1 img {
    max-block-size: 4.1vmax;
    border-radius: 50%;

}

.chat-1 {
    color: whitesmoke;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin: 0 1.2rem;
    padding: 8px 12px;

}

.chat-details h2 {
    font-size: 1.9vmax;
    font-weight: 400;

}

.chat-details p {
    color: rgb(143 141 141);
    font-size: 1.8vmax;
    letter-spacing: -1px;
}

.chat-1:hover {
    background-color: #2C2D2E;
    border-radius: 18px;
}